body {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 35pt;
}
h2{
    font-size: 25pt;
}
h3 {
    font-size: 20pt;
}
p, h2, h3, h4 , h5 {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #08fdd8;
}

/*---------------------------------------------------------------- NAVBAR -----------------------------------------------------------------------*/

.navbar {
    width: 15%;
    height: 100%;
    position: fixed;
    display: block;
    background-color: #151515;
    z-index: 99;
    color: #08fdd8;

}
.navbar img {
    width: 100%;
    height: 100%;
}
.navbar p {
    margin-bottom: 10%;
}

.IrA {
    width: 100%;
    height: 5%;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
    border-bottom: 2px solid #252525;
}
.IrA:hover {
    background-color: #252525;
}

.github-linkedin {
    display: flex;
}
.git{
    margin-left: 30%;
}
.linkedin {
    margin-left: 10%;
}
.git, .linkedin {
    width: 13%;
    margin-top: 10%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

.Inicio {
    width: 85%;
    display: inline-flex;
    background-color: #252525;
    align-content: center;
    padding-bottom: 10%;
    margin-left: 15%;
}
.titulo-inicio {
    text-align: left;
    color: white;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 5%;
}
.foto-celu {
    display: none;
}
.boton-contacto {
    width: 40%;
    height: 10%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5%;
    border: 2px solid #08fdd8;
    border-radius: 10px;
}
.boton-contacto:hover {
    background-color: #191919;
}

.Sobre-Mi {
    width: 75%;
    margin: auto;
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin-left: 15%;
}
.Sobre-Mi h1 {
    margin-left: 15%;
}

.Habilidades {
    background-color: #252525;
    text-align: center;
    color: white;
    width: 85%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin-left: 15%;
}

.Experiencia {
    text-align: center;
    width: 85%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin-left: 15%;
}

.Contacta-Me {
    background-color: #252525;
    text-align: center;
    color: white;
    width: 85%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-left: 15%;
}

/*------------------------------------------------------------- ANIMACION INICIO -----------------------------------------------------------------*/

@keyframes animacion-burbuja {
    0% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}

.Burbujas {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    border: solid 2px #08fdd8;
    background-color: transparent;
    animation: animacion-burbuja 2s infinite;
}


/* ------------------------------------------------------------ CARTAS SOBRE MI Y EDUCACION -----------------------------------------------------*/

.cartas-sobre-mi {
    display: flex;
    margin: 5%;
    margin-left: 13%;
}
.cartas-sobre-mi p {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cartas-sobre-mi h2{
    font-size: 30pt;
    padding-top: 15%;
}

.cartas-educacion {
    display: flex;
    margin: 5%;
    margin-left: 15%;
}
.cartas-educacion p{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cartas-educacion h2{
    font-size: 30pt;
    padding-top: 15%;
}

.carta {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-right: 5%;
}
  
.flip-carta {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}
  
.carta:hover .flip-carta {
    transform: rotateY(180deg);
}
  
.frontal, .trasera {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.frontal {
    background-color: #252525;
    color: white;
    border-radius: 20px;
}
.frontal h2 {
    text-align: center;
    margin-top: 25%;
}
.frontal img {
    display: block;
    margin: auto;
    margin-top: 10%;
    width: 70%;
}
  
.trasera {
    background-color: #252525;
    color: white;
    transform: rotateY(180deg);
    border-radius: 20px;
}
.trasera p {
    padding: 5%;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

/*--------------------------------------------------------- CARTAS HABILIDADES ------------------------------------------------------------------*/

.cartas-habilidades {
    display: flex;
    margin: 5%;
}

.carta-frontend {
    width: 20%;
    height: 100%;
    margin-left: 15%;
    padding-bottom: 2%;
    background-color: #191919;
    color: white;
    border-radius: 20px;
    animation: habilidades-animacion 3s;
    animation-play-state: paused;
}
.carta-backend {
    width: 20%;
    height: 100%;
    margin-left: 5%;
    padding-bottom: 2%;
    background-color: #191919;
    color: white;
    border-radius: 20px;
    animation: habilidades-animacion 4s;
    animation-play-state: paused;
}

.carta-extras {
    width: 20%;
    height: 100%;
    margin-left: 5%;
    padding-bottom: 2%;
    background-color: #191919;
    color: white;
    border-radius: 20px;
    animation: habilidades-animacion 5s;
    animation-play-state: paused;
}

.titulo {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background-color: #101010;
    border-radius: 5%;
}
.titulos {
    background-color: #151515;
}

@keyframes habilidades-animacion {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/*---------------------------------------------------------------- EXPERIENCIA ------------------------------------------------------------------*/


.trabajos-contenedor {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.trabajos-grupo {
    flex: 48%;
    margin: 1%;
}

.trabajos-cartas img{
    width: 100%;
    border: 2px solid #252525;
    vertical-align: middle;
    margin: 1%;
}

.info {
    width: 100%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    text-align: justify;
    color: white;
    background-color: #252525;
    display: none;
    margin: 1%;
}

.show {
    display: block;
    animation: fadeIn 1s;
}

.info h4 {
    padding: 5%;
    padding-bottom: 0%;
}
.info p{
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.boton-exp {
    width: 20%;
    height: 10%;
    text-align: center;
    text-transform: capitalize;
    margin-left: 5%;
    padding: 2%;
    border: 2px solid #08fdd8;
    border-radius: 10px;
}
.boton-exp:hover {
    background-color: #191919;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*---------------------------------------------------------------- CONTACTA ME -------------------------------------------------------------------*/

.contactos {
    display: flex;
    width: 70%;
    margin-top: 5%;
    margin-left: 23%;
}

.email {
    width: 20%;
}
.icono-email{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    margin-left: 35%;
}
.icono-email img {
    margin-top: 30%;
    width: 40%;
}

.telefono {
    width: 20%;
    margin-left: 10%;
}
.icono-telefono{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    margin-left: 30%;
}
.icono-telefono img {
    margin-top: 30%;
    width: 40%;
}

.discord {
    width: 20%;
    margin-left: 10%;
}
.icono-discord {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
}
.icono-discord img {
    margin-top: 30%;
    width: 40%;
}


/*---------------------------------------------------------------- VERSION CELU ------------------------------------------------------------------*/

@media (max-width: 576px) {
    h1 {
        font-size: 25pt;
    }
    h2 {
        font-size: 17pt;
    }
    h3 {
        font-size: 13pt;
    }
    p {
        font-size: 10pt;
    }

/*---------------------------------------------------------------- NAVBAR CELU -------------------------------------------------------------------*/
    .menu {
        width: 40px;
        height: 35px;
        display: block;
        background-color: #151515;
        position: fixed;
        z-index: 99;
        border-radius: 20%;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 2%;
    }
    .linea-blanca {
        width: 30px;
        height: 1px;
        background-color: white;
        margin: auto;
        margin-top: 20%;
    }

    .navbar {
        width: 60%;
        height: 90px;
        position: fixed;
        display: flex;
        background-color: #151515;
        z-index: 98;
        color: #08fdd8;
        visibility: hidden;
        margin-top: 5%;
        margin-left: 20%;
    }
    .navbar p {
        font-size: 7pt;
        margin-top: 0%;
        margin-bottom: 50%;
    }

    .show {
        visibility: visible;
    }

    .navbar .foto {
        display: none;
    }
    .navbar .github-linkedin {
        display: none;
    }

    .IrA {
        width: 100%;
        height: 5%;
        display: block;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 5%;
        border-bottom: 2px solid #252525;
    }
    .IrA:hover {
        background-color: #08fdd8;
    }
    .IrA:hover a {
        color: #101010;
    }

/*------------------------------------------------------------- INICIO CELU ----------------------------------------------------------------------*/

    .Inicio {
        width: 100%;
        background-color: #252525;
        align-content: center;
        padding-bottom: 10%;
        margin-left: 0%;
    }
    .titulo-inicio {
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 10%;
        margin-bottom: 0%;
        margin-left: 0%;
    }
    .foto-celu {
        display: block;
        width: 60%;
        margin-left: 20%;
    }
    .boton-contacto {
        width: 40%;
        height: 8%;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 0%;
        border: 1px solid #08fdd8;
        border-radius: 10px;
        margin-left: 30%;
    }
    .boton-contacto p {
        font-size: 8pt;
    }
    .Burbujas {
        display: none;
    }

/*----------------------------------------------------------- SOBRE MI CELU ----------------------------------------------------------------------*/
    
    .Sobre-Mi {
        width: 100%;
        margin: auto;
        margin-left: 10%;
        padding-top: 2%;
        padding-bottom: 10%;
        margin-left: 0%;
        text-align: center;
    }
    .Sobre-Mi h1 {
        margin-left: 0%;
    }
    .cartas-sobre-mi {
        display: block;
        margin: 0%;
        margin-left: 5%;
    }
    .cartas-sobre-mi p {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cartas-sobre-mi h2{
        font-size: 20pt;
        padding-top: 35%;
    }
    
    .cartas-educacion {
        display: block;
        margin: 0%;
        margin-left: 5%;
    }
    .cartas-educacion p{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cartas-educacion h2{
        font-size: 20pt;
        padding-top: 35%;
    }

    .carta {
        background-color: transparent;
        width: 200px;
        height: 300px;
        perspective: 1000px;
        margin-right: 0%;
        margin-top: 10%;
        margin-left: 15%;
    }

/*----------------------------------------------------------- HABILIDADES CELU -----------------------------------------------------------------*/
    
    .Habilidades {
        background-color: #252525;
        text-align: center;
        color: white;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 10%;
        margin-left: 0%;
    }
    .cartas-habilidades {
        display: block;
        margin: 0%;
    }
    
    .carta-frontend {
        width: 60%;
        height: 100%;
        margin-left: 20%;
        padding-bottom: 2%;
        background-color: #191919;
        color: white;
        border-radius: 20px;
        animation: habilidades-animacion 3s;
        animation-play-state: paused;
    }
    .carta-backend {
        width: 60%;
        height: 100%;
        margin-left: 20%;
        margin-top: 5%;
        padding-bottom: 2%;
        background-color: #191919;
        color: white;
        border-radius: 20px;
        animation: habilidades-animacion 4s;
        animation-play-state: paused;
    }
    
    .carta-extras {
        width: 60%;
        height: 100%;
        margin-left: 20%;
        margin-top: 5%;
        padding-bottom: 2%;
        background-color: #191919;
        color: white;
        border-radius: 20px;
        animation: habilidades-animacion 5s;
        animation-play-state: paused;
    }

/*----------------------------------------------------------- EXPERIENCIA CELU -----------------------------------------------------------------*/

    .Experiencia {
        text-align: center;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 10%;
        margin-left: 0%;
    }

    .trabajos-contenedor {
        width: 90%;
        display: block;
        flex-wrap: wrap;
        margin-left: 0%;
    }
    
    .trabajos-grupo {
        flex: 0%;
        margin: 0%;
    }
    
    .trabajos-cartas img{
        width: 100%;
        border: 2px solid #252525;
        vertical-align: middle;
        margin: 1%;
    }
    
    .info {
        width: 100%;
        padding-bottom: 3%;
        margin-bottom: 3%;
        text-align: justify;
        color: white;
        background-color: #252525;
        display: none;
        margin: 1%;
    }
    
    .show {
        display: block;
        animation: fadeIn 1s;
    }
    
    .info h4 {
        margin-top: 0%;
        padding: 5%;
        padding-bottom: 0%;
        font-size: 11pt;
    }
    .info p{
        padding: 5%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    
    .boton-exp {
        width: 30%;
        height: 10%;
        text-align: center;
        text-transform: capitalize;
        margin-left: 5%;
        padding: 2%;
        border: 1px solid #08fdd8;
        border-radius: 10px;
    }
    .boton-exp a {
        font-size: 10pt;
    }

/*----------------------------------------------------------- CONTACTA ME CELU -----------------------------------------------------------------*/

    .Contacta-Me {
        background-color: #252525;
        text-align: center;
        color: white;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 5%;
        margin-left: 0%;
    }

    .contactos {
        display: block;
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
    }
    
    .email {
        width: 20%;
        margin: auto;
        margin-left: 25%;
    }
    .icono-email{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        margin-left: 85%;
    }
    .icono-email img {
        margin-top: 30%;
        width: 40%;
    }
    
    .telefono {
        width: 40%;
        margin: auto;
        margin-top: 8%;
    }
    .icono-telefono{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        margin-left: 30%;
    }
    .icono-telefono img {
        margin-top: 30%;
        width: 40%;
    }
    
    .discord {
        width: 20%;
        margin: auto;
        margin-top: 8%;
    }
    .icono-discord {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        margin-left: 10%;
    }
    .icono-discord img {
        margin-top: 30%;
        width: 40%;
    }

}